:root {
  --color-primary: #0e0036;
  --background-color: #7E3AF2;
  --color-gray: #F2F8FE;
  --color-white: #ffff;
  --color-black: #0000;
  --font-head:'Roboto Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

/*== THE HEADER  ==*/
.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .4rem 8rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: var(--color-white);
}

.logo {
  width: 4rem;
}

#check, .toggle__menu {
  display: none;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
}

.navbar__menu:hover {
  color: var(--color-black);

}

.navbar__menu .navbar__menu a {
  font-family: var(--font-head);
  color: var(--color-primary);
  font-size: 1.8rem;
}

.navbar__btn {
  padding: 0 1rem;
  font-family: var(--font-head);
  font-size: 1.8rem;
  background-color: var(--background-color);
  border-radius: .5rem;
  color: var(--color-white);
  padding: .5rem 1rem;
}

.connect {
  padding: 0 1rem;
  font-family: var(--font-head);
  font-size: 1.8rem;
  background: linear-gradient(216deg, rgba(126,58,242,1) 0%, rgba(170,0,35,1) 100%);
  border-radius: .5rem;
  color: var(--color-white);
  padding: .5rem 1rem;
}

/*== SECCIÓN HERO  ==*/
.hero {
  background-color: var(--color-gray);
}

.container {
  max-width: 1200px;
  padding: 50px 30px;
  margin: 0 auto;
}

.hero__flex{
  display: flex;
}

.hero__text h1 {
  width: 95%;
  font-size: 4.9rem;
  text-transform: uppercase;
  font-family: var(--font-head);
  padding-bottom: 15px;
  padding-top: 40px;
  margin-top: 30px;
  color: var(--color-primary);
}

.hero__text p {
  width: 80%;
  line-height: 25px;
  color: #929292;
  padding-bottom: 20px;
}

.hero__text a {
  font-family: var(--font-head);
  font-size: 1.8rem;
  background: linear-gradient(216deg, rgba(126,58,242,1) 0%, rgba(170,0,35,1) 100%);
  border-radius: .5rem;
  color: var(--color-white);
  padding: .7rem 2rem;
}

.hero__picture {
  max-width: 100%;
}

/*== SECCIÓN CURSOS ==*/
.container__cursos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cursos__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 290px;
  min-height: 120px;
  background-color: var(--background-color);
  border-radius: 1rem;
  color: var(--color-white);
  margin: 0 auto;
}

.cursos__flex:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}

.cursos h2 {
  font-family: var(--font-head);
  font-size: 4rem;
  padding: 30px;
  text-align: center;
  padding-top: 50px;
  background: linear-gradient(216deg, rgba(126,58,242,1) 30%, rgba(170,0,35,1) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.cursos__picture img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.cursos__info h3 {
  padding: 15px;
}

.cursos__info p {
  padding-inline: 1.5rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.cursos__prof {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.cursos__prof p {
  padding: .5rem;
}

.cursos__prof img {
  width: 35px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
}

.cursos__price {
  display: flex;
  padding-inline: 1.5rem;
  padding-top: 2rem;
}

.cursos__price span {
  padding-inline: .4rem;
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.cursos__price .offer {
  text-decoration: line-through;
}

.cursos__buy {
  background-color: var(--color-white);
  color: var(--color-primary);
  padding: .4rem;
  text-align: center;
  border-radius: 2rem;
  margin: .5rem 1.5rem 1.5rem;
  width: 50%;
  border: none;
}

/*== SECCIÓN NOSOTROS ==*/
.nosotros {
  background-color: var(--color-gray);
  padding-top: 40px;
}

.nosotros h2 {
  text-align: center;
  font-family: var(--font-head);
  font-size: 4rem;
  padding: 30px;
  text-align: center;
  padding-top: 30px;
  background: linear-gradient(216deg, rgba(126,58,242,1) 30%, rgba(170,0,35,1) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nosotros__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.nosotros__cursos img {
  width: 55px;
  padding-bottom: 20px;
}

.nosotros__cursos h3 {
  font-family: var(--font-head);
  color: var(--color-primary);
  padding-bottom: 5px;
}

/*== SECCIÓN PLANES ==*/
.planes {
  padding-top: 40px;
}

.planes__text {
  text-align: center;
  font-family: var(--font-head);
  font-size: 4rem;
  padding: 30px;
  text-align: center;
  padding-top: 30px;
  background: linear-gradient(216deg, rgba(126,58,242,1) 30%, rgba(170,0,35,1) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.planes__paraffo {
  text-align: center;
}

.planes__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
}

.planes__price {
  background-color: var(--color-gray);
  border-radius: 1rem;
  width: 350px;
  min-height: 180px;
  border-top: 5px solid var(--background-color);
  
}

.planes__price span {
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 500;
  color:  var(--color-primary);
  padding: 20px 0 10px;
}

.planes__price h3 {
  padding: 5px 0 20px;
  letter-spacing: .5rem;
}

.planes__price a {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  padding: 7px 40px;
  cursor: pointer;
}

.planes__price a:hover {
  background-color:#170052;
}

.planes__price p {
  font-size: 1rem;
  padding-top: 10px;
}

.planes__yellow {
  border-top: 5px solid #ffca59;
}

.planes__green{
  border-top: 5px solid #4FBBAF;
}

/*== SECCIÓN PREGUNTAS ==*/
.preguntas h2 {
  text-align: center;
  font-family: var(--font-head);
  font-size: 4rem;
  padding: 30px;
  text-align: center;
  padding-top: 30px;
  background: linear-gradient(216deg, rgba(126,58,242,1) 30%, rgba(170,0,35,1) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

details {
  background-color: #eaeaea3e;
  padding: 10px;
  border-radius: 9px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  cursor: pointer;
}

details p {
  padding-top: 15px;
}

summary {
  color: var(--color-primary);
  font-size: 1.8rem;
}

summary::before {
  content: "▶";
}

/*== SECCIÓN CONTACTO ==*/
.contacto {
  background-color: var(--color-gray);
  padding-top: 50px;
}

.contacto h2 {
  text-align: center;
  font-family: var(--font-head);
  font-size: 4rem;
  padding: 10px;
  text-align: center;
  background: linear-gradient(216deg, rgba(126,58,242,1) 30%, rgba(170,0,35,1) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.contacto__flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.contacto__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacto__input {
  padding: 5px;
  border: none;
  border-radius: 7px;
  border: 1px solid rgba(128, 128, 128, 0.6);
}

.contacto__form textarea {
  padding: 5px;
  border: none;
  border-radius: 7px;
  border: 1px solid rgba(128, 128, 128, 0.6);
  resize: none;
}

.contacto__form .btn {
  padding: 0 1rem;
  font-family: var(--font-head);
  font-size: 2rem;
  background-color: var(--background-color);
  border-radius: .7rem;
  border: none;
  color: var(--color-white);
  padding: .3rem;
  cursor: pointer;
}

.conatcto__zone {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
}

/*== SECCIÓN FOOTER ==*/
footer {
  background-color: var(--color-gray);
  border-top: 1px solid #e0e0e0;
}
.footer__info {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 920px) {
  /* RESPONSIVE */
  .toggle__menu {
    display: block;
    font-size: 30px;
    color:#0e0036;
    position: fixed;
    right: 30px;
    top: 10px;
    cursor: pointer;
  }

  .navbar ul {
    display: block;
    padding: 20px;
    position: fixed;
    top: 55px;
    right: 0;
    left: -100%;
    background-color:#0e0036;
    width: 100%;
    height: 100vh;
    transition: all .5s;
  }

  .navbar__menu li {
    padding: 20px;
    font-size: 2rem;
    color: var(--color-white);
  }

  .navbar__menu a {
    color: var(--color-white);
  }

  #check:checked ~ ul {
    display: block;
    left: 0;
    transition: all .5s;
  }

  /* HERO */
  .hero__flex{
    flex-direction: column;
  }
  
  .hero__text p {
    width: 80%;
    font-size: 2.3rem;
    line-height: 2.8rem;
    margin-bottom: 20px;
  }
  
  .hero__text a {
    font-size: 3rem;
    padding: 1rem 2.5rem;
  }
  
  .hero__picture {
    width: 500px;
  }
}

@media screen and (max-width: 534px) {
  .hero__text p {
    width: 100%;
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 20px;
  }
  
  .hero__text a {
    font-size: 3rem;
    padding: 1rem 2.5rem;
  }
  .hero__text h1 {
    width: 100%;
    font-size: 3rem;
  }
  .hero__picture {
    width: 400px;
  }
  iframe {
    width: 280px;
  }
}
@media screen and (max-width: 435px) {
  .hero__text p {
    width: 100%;
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 20px;
  }
  
  .hero__text a {
    font-size: 3rem;
    padding: 1rem 2.5rem;
  }
  .hero__text h1 {
    width: 100%;
    font-size: 3rem;
  }
  .hero__picture {
    width: 400px;
  }
  iframe {
    width: 280px;
  }
}

@media screen and (max-width: 320px) {
  .hero__text p {
    width: 100%;
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 20px;
  }
  
  .hero__text a {
    font-size: 2rem;
    padding: 1rem 2rem;
  }
  .hero__text h1 {
    width: 100%;
    font-size: 3rem;
  }
  .hero__picture {
    width: 400px;
  }
  iframe {
    width: 280px;
  }
}

